PayBar/Service References/TerminalService/TerminalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/I2S.PayService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/I2S.PayService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TxnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddData1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddData2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddData3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="TraceNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TxnResult" nillable="true" type="tns:TxnResult" />
</xs:schema>